<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center; color:rgb(26, 122, 122)">
      Segunda Mano
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="buscar()">
        <ion-icon name="search"></ion-icon>
      </button>

    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let n of casas" col-4 (click)="verCasa(n)">
          <ion-card>
            <img *ngIf="n.ad.hasOwnProperty('thumbnail')" src="http://img.segundamano.mx/cover/{{n.ad.thumbnail.path}}">
            <ion-card-content>
              <h1 *ngIf="n.ad.hasOwnProperty('subject')"> {{n.ad.subject}}</h1>
              <p>{{n.ad.locations[0].locations[0].label}},{{n.ad.locations[0].label}}</p>
              <h2 *ngIf="n.ad.hasOwnProperty('list_price')" style="color:rgb(26, 122, 122)"> {{n.ad.list_price.label}}</h2>
            </ion-card-content>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
